

  <div class="container">
    <div  style="margin-top:30px;" class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <h1>Add meal</h1>
        <h3>IME RESTORANA</h3>
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row" style="margin-top:30px;" style="padding-bottom:100px">
      <div class="col-sm-3">

      </div>

      <div class="col-sm-6">
        <form action="metod" name="formAddMeal" method="post">
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Name of the meal</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter name of the meal here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label for="exampleInputFile">Add Picture</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div class="form-group">
        <label for="exampleTextarea">Description</label>
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <button type="button" class="btn btn-primary btn-lg">Add Meal</button>
        </form>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>

</body>


</html>
