

  <div class="container">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="img/logo.png">
        <h1> Ime korisnika </h1>
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row" style="padding-bottom:100px">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <div class="form-group">
        <label for="exampleInputFile">Change Picture</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Username</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter username here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">E-mail</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter e-mail here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Old Password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Enter password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">New Password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Enter password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Re-password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Repeat password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Name</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter name here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Surname</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter surname here..." id="inputLarge">
        </div>

         <hr>
         <button  type="submit" style="margin-right:30px" class="btn btn-primary btn-lg">Submit</button>
         <hr>
         <h3>Do you want to delete your profile?</h3>
         <button  type="button" class="btn btn-primary btn-lg">Delete Profile</button>
         <hr>
        </div>

      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>

</body>


</html>
