

  <div class="container">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="img/logo.png">
        <h1> Ime restorana </h1>
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row" style="padding-bottom:100px">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
	  <form name="formaPromena" method="post">
        <div class="form-group">
        <label for="exampleInputFile">Change Image</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">Restaurant Image</small>
        </div>
		<div class="form-group">
        <label for="exampleInputFile">Change Menu</label>
        <input type="file" class="form-control-file" id="exampleInputFile2" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">Restaurant Menu</small>
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Username</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter username here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">E-mail</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter e-mail here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Old Password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Enter password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">New Password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Enter password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Re-password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Repeat password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Restaurant Name</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter name here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">New Addres</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter new addres here" id="inputLarge">
        </div>

         <hr>
         <button  type="submit" style="margin-right:30px" class="btn btn-primary btn-lg">Submit</button>
		</form>
        </div>

      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>

</body>


</html>
