
  <div class="container">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="img/logo.png">
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row" style="padding-bottom:100px">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
		  <form name="forgotForm" method="post">
			<div class="form-group">
			<label class="col-form-label col-form-label-lg" for="inputLarge">E-mail</label>
			<input class="form-control form-control-lg" type="text" placeholder="Enter e-mail addres here..." id="inputLarge">
			</div>
			
			<button type="submit" class="btn btn-primary btn-lg">Submit</button>
			<p>On submission check the e-mail addres with which you registered</p>
		  </form>
      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>

</body>


</html>
