


  <div class="view" style="background-image: url('img/hdpozadina.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light align-items-center">
            <!-- Content -->
            <div class="container">
              <!--Grid row-->
              <div class="row" style="padding-top:100px">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                  <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong><font color="white">SEARCH YOUR MEAL</font></strong></h1>
                  <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
                </div>
                <!--Grid column-->
              </div>
              <div class="row" style="padding-bottom:300px">
                <div class="col-sm-4">

                </div>
                <div class="col-sm-4">
                  <form align="center">
                  <input name="searchName" class="form-control form-control-lg" type="text" placeholder="Desired meal" id="inputLarge">
                  <br>
                  <div class="form-group">
                    <select class="form-control" id="exampleSelect1">
                      <option>Sort by</option>
                      <option>Rating</option>
                      <option>Nesto drugo</option>
                      <option>Nesto drugo</option>
                      <option>Nesto drugo</option>
                    </select>
                  </div>
                  <button style="margin-top:15px;"name="searchDugme" type="submit" class="btn btn-primary btn-lg" onclick="searchFunction()">Search</button>
                  </form>
                </div>
                <div class="col-sm-4">

                </div>
              </div>
              <!--Grid row-->
            </div>
            <!-- Content -->
          </div>
          <!-- Mask & flexbox options-->
        </div>



        <p id="searchResults">


        </p>

  <footer class="page-footer font-small bg-light">
  <div class="footer-copyright text-center py-3"><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>

</body>


</html>
