

  <div class="container">
    <div class="row" align="center" style="margin-top:50px">

      <div style="margin-bottom:30px;" class="col-sm-12 col-md-12">
        <h1>Rate the restaurant</h1>
        <img class="img-fluid" src="img/hotdog.jpg">
        <h1>Naslov restorana</h1>
        <h4>Overall mark: prosecna ocena</h4>
      </div>

      <div class="col-sm-12 col-md-12">
        <hr>
        <div>
          <h1>Question 1</h1>
          <p>TEKST PITANJA</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div>
          <h1>Question 2</h1>
          <p>TEKST PITANJA</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div>
          <h1>Question 3</h1>
          <p>TEKST PITANJA</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div>
          <h1>Question 4</h1>
          <p>TEKST PITANJA</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div>
          <h1>Question 5</h1>
          <p>TEKST PITANJA</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div class="form-group">
          <label for="exampleTextarea">Comment</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary btn-lg" name="potvrdiRejtingRestorana">Potvrdi odgovore</button>
      </div>


    </div>


  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>
  <script src="StarRating.js"></script>
</body>


</html>
