
  <div class="container">
    <div class="row">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <img class="img-fluid" src="img/logo.png">
      </div>
      <div class="col-sm-3">

      </div>
    </div>

    <div class="row" style="padding-bottom:100px">
      <div class="col-sm-3">

      </div>
      <div class="col-sm-6">
        <form name="regForm" method="post">
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Username</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter username here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">E-mail</label>
        <input class="form-control form-control-lg" type="text" placeholder="Enter e-mail here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Enter password here..." id="inputLarge">
        </div>
        <div class="form-group">
        <label class="col-form-label col-form-label-lg" for="inputLarge">Re-password</label>
        <input class="form-control form-control-lg" type="password" placeholder="Repeat password here..." id="inputLarge">
        </div>

        <fieldset  class="form-group" style="margin-bottom:40px">
         <legend >User type:</legend>
         <div class="form-check">
           <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" onclick="otvori()" checked="">
             <font size="4">Guest</font>
             </label>
         </div>
         <div class="form-check">
         <label class="form-check-label">
             <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" onclick="otvori()" value="option2">
             <font size="4">Restaurant</font>
           </label>
         </div>
         </fieldset>
         <div id="zaUbaciti">

        </div>
         <button  type="button" class="btn btn-primary btn-lg">Register</button>
       </form>
        </div>

      </div>
      <div class="col-sm-3">

      </div>
    </div>
  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>
  <script>
    function otvori(){
        document.getElementById('zaUbaciti').innerHTML="";
        if (document.getElementById('optionsRadios1').checked){
        document.getElementById('zaUbaciti').innerHTML='<div class="form-group"><label class="col-form-label col-form-label-lg" for="inputLarge">Name</label><input name="name" class="form-control form-control-lg" type="text" placeholder="Enter your name here..." id="inputLarge"></div><div class="form-group"><label class="col-form-label col-form-label-lg" for="inputLarge">Surname</label><input name="surname" class="form-control form-control-lg" type="text" placeholder="Enter your surname here..." id="inputLarge"></div>';

        }
        else if (document.getElementById('optionsRadios2').checked){
        document.getElementById('zaUbaciti').innerHTML='<div class="form-group"><label class="col-form-label col-form-label-lg" for="inputLarge">Name</label><input name="name" class="form-control form-control-lg" type="text" placeholder="Enter your name here..." id="inputLarge"></div><div class="form-group"><label class="col-form-label col-form-label-lg" for="inputLarge">Address</label><input name="address" class="form-control form-control-lg" type="text" placeholder="Enter your address here..." id="inputLarge"></div><div class="form-group"><label for="exampleInputFile">Restaurant picture</label><input name="slika" type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp"><small id="fileHelp" class="form-text text-muted">Restaurant picture</small></div><div class="form-group"><label for="exampleInputFile">Restaurant Menu</label><input type="file" class="form-control-file" id="exampleInputFile2" aria-describedby="fileHelp"><small id="fileHelp" class="form-text text-muted">Restaurant Menu</small></div> ';
        }
        else{
          document.getElementById('zaUbaciti').innerHTML="";
        }
    }
  </script>
</body>


</html>
