

  <div class="container">
    <div class="row" align="center" style="margin-top:50px">

      <div style="margin-bottom:30px;" class="col-sm-12 col-md-12">
        <h1>Welcome ime korisnika</h1>

        <h1>Naslov restorana</h1>
        <img class="img-fluid" src="img/hotdog.jpg">
        <h4>Overall mark: prosecna ocena</h4>
      </div>

      <div class="col-sm-12 col-md-12">

        <h1>Izlozena jela:</h1>
        <hr>
        <div>
          <h1>JELO 1</h1>
          <p>Slika</p>
          <p>TEKST Komentara</p>
          <p>Prosecan rejting</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div>
          <h1>JELO 2</h1>
          <p>Slika</p>
          <p>TEKST Komentara</p>
          <p>Prosecan rejting</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>
        <div>
          <h1>JELO 3</h1>
          <p>Slika</p>
          <p>TEKST Komentara</p>
          <p>Prosecan rejting</p>
          <x-star-rating value="3">
          </x-star-rating>
        </div>
        <hr>

        <hr>
        <button type="submit" class="btn btn-primary btn-lg" name="potvrdiRejtingRestorana">Add meal</button>
      </div>


    </div>


  </div>







  <footer class="page-footer font-small bg-light">

  <div class="footer-copyright text-center py-3"><hr><i><font size="1px" color="gray">© Copyright 2019:Filip Tanic,Marko Vekaric,Sava Kezic i Jovan Kecojevic. Odsek za softversko inzenjerstvo Elektrotehničkog fakulteta Univerziteta u Beogradu</font></i>
  </div>
  </footer>
  <script src="StarRating.js"></script>
</body>


</html>
