x-star-rating{
    font-family:'ionicons';
    font-size:48px;
    display:inline-flex;
    cursor:pointer;
}

x-star-rating >.star::after{
  content:'\f3ae';
  color:#777;


}

x-star-rating >.star.full:after{
  content:'\f2fc';
  color:#fd0;
}
